.flex {
    display: flex;
    width: 100%;
    max-width: 1224px;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1224px;
    width: 100%;
    margin: 0 89px;
    display: flex;
    justify-content: space-between;
  }

.CTA {
    display: flex;
    justify-content: center;
    background-color: #F9FAFD;
    padding: 77px 88px;
    width: 100%;
}

.orangeText {
    color: #FD815A;
}

.btnContainer {
    display: flex;
}
  
.btnMain {
    background-color: #FD815A;
    color: #FFFFFF;
}
  
.btnSecondary {
    background-color: #E5ECFF;
    color: #4965CB;
    margin-left: 16px;
}