html,
body {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #535C68;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -1.2px;
  color: #2B2F35;
  margin-top: 0;
  margin-bottom: 28px;
}

button {
  padding: 20px;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: 1.6px;
  border-radius: 8px;
  text-transform: uppercase;
  border: 0px;
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
