.container {
  max-width: 1224px;
  width: 100%;
  margin: 0 89px;
  display: flex;
  justify-content: space-between;
}

.featureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
}

.featureSection {
  margin-top: 158px;
}

.section {
  display: block;
  padding-top: 158px;
  padding-bottom: 160px;;
}

.logoNav {
  display: flex;
  align-items: center;
}

.navRight {
  display: flex;
}

.nav {
  display: flex;
  position: absolute;
  padding: 27px 0;
  z-index: 10;
  width: 100%;
  top: 0;
}

.btnContainer {
  display: flex;
}

.btnMain {
  background-color: #FD815A;
  color: #FFFFFF;
  font-weight: 700;
}

.btnSecondary {
  background-color: #E5ECFF;
  color: #4965CB;
  margin-left: 16px;
  font-weight: 700;
}

.hero {
  display: flex;
  position: relative;
  height: 634px;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding-left: 89px;
  padding-right: 89px;
  padding-top: 94px;
  background-color: #F9FAFD;
}

.heroContent {
  max-width: 514px;
  width: 100%;
  margin-right: auto;
}

.heroMedia {
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

.mediaContainer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
}
.centeredContentConstraint {
  max-width: 692px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.orangeTitle {
  color: #FD815A;
}

.title {
  margin: 0;
  font-size: 64px;
  line-height: 64px;
  color: #2B2F35;
  margin-bottom: 40px;
  letter-spacing: -1.2px;
  font-weight: 700;
}

.subtitle {
  color: #535C68;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 40px;
}

.overline {
  color: #7B8798;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}

.centeredH2 {
  margin-bottom: 28px;
}

.body2 {
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 400;
  margin: 0;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.logo {
  margin-right: 20px;
}
